#Header{
    color:greenyellow;
    background-color: #181C14;
    text-align: center;
    border: 10px solid #ECDFCC;
    border-radius: 10px;
}
#Nav{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
    background-color: #697565;
    margin-left: 575px;
    width: fit-content;
    padding: 20px;
    border:  5px dashed #ECDFCC;
}
#Contact #Home{
    text-decoration: none;
    color: darkred;
}
#Main{
    padding: 20px;
    background-image: linear-gradient(to bottom right, #ff0000, rgb(0, 40, 66));
    border: 5px solid #ECDFCC;
    border-radius: 50px;
}
.table{
    padding-left: 485px;
    padding-top: 100px;
    padding-bottom: 100px;
}