body{
    padding-bottom:0px ;
    background-color: 	#bde5ac;
}
#Header{
    background-color:#007bff;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 100px;
    width:1365px;
    position:relative;
    bottom: 21px;
    right: 7px;
}
#Header h1{
    padding-left: 600px;
    padding-top: 30px;
    }
#Nav{
    background-color:#4caf50;
    width:1365px;
    height: 10px;
    position: relative;
    bottom: 21px;
    right: 7px;
    padding-top: 20px;
    padding-bottom: 10px;
}
#Nav a{
    position: relative;
    left: 585px;
}
#Nav #Home{
    padding-right: 10px;
}
#Main{
    background-color:#565656;
    width:1345px;
    height: 353px;
    position:relative;
    right: 7px;
    bottom: 39px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-left: 20px;
    font-size:large;
}